/*
 ======                                                      ======   
 === Формулы конвертации значений из PX в относительные единицы: ===
 ======                                                      ====== 
*/

/* из PX в EM - font-size (текущее или унаследованное)  / px */

/* из PX в REM - font-size (указанное для тега HTML (если не указано то на 16)) / px */

/* из PX в % - значение, относительно которого высчитывается процент / px * 100 */





/* Формула расчёта ширины flex-элемента в сетке */

/* flex-basis: calc((100% - количество margin в строке * значение margin) / количество элементов в строке) */
/* flex-basis = width */





/* Выравнить элемент по центру / Complete the alignment element into center*/

/* .div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */





/*  */