                                /*
                                 ======                                                      ======   
                                 === Формулы конвертации значений из PX в относительные единицы: ===
                                 ======                                                      ====== 
                                */

/* из PX в EM - font-size (текущее или унаследованное)  / px */

/* из PX в REM - font-size (указанное для тега HTML (если не указано то на 16)) / px */

/* из PX в % - значение, относительно которого высчитывается процент / px * 100 */







